
a:link, a:active, a:visited {
	text-decoration: underline;
	color: white;
}

a:hover {
	text-decoration: none;
}

.common {
	color:#86542C;
}


.comment {
	background:#262626;
	padding: 5px;
	border-radius: 5pt 5pt;
	margin-top:2px;
	margin-bottom: 2px;
}

.comment span.author {
	font-weight: bold;
	color:white;
}

.comment span.text {
	color:#D9AE8B;
}

.comment div.date {
	color: #86542C;
	font-size: smaller;
}

.comment span.author:after {
	content: ": ";
	
}

.add_comment {
	margin-top: 20px;
}

input {
  border: 1px dotted #999;
  border-radius: 0;
  font-size: 12pt;
  padding: 10px;

  

  -webkit-appearance: none;
}

form {
	text-align: center;
	  margin-top: 20px;
	  position:relative;
	  left: -10px;
}

input.text {
	width:50%;
}

input.submit {
	width:20%;
}

#comments_title {
	color:#86542C;
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: 20px;
} 

h1 { color: red; }

@media all and (orientation: portrait) {

* {
    margin:0;
    padding:0;
}
body {
    background:#141414;
    position:relative;
    overflow:auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    position:fixed;
    height:60px;
    width:100%;
    line-height:60px;
    font-size:1.75em;
    text-align:center; 
    color:#FFF;
}

h2 {
	text-align: center;
	margin-top: 10px;
}

#wrapper {
    margin:20px 20px 0px;
    height:auto;

}
.floatbox {
    margin:0 0 20px 0;
}
.floatbox img, .daily_challenge img {
	border-top-left-radius: 15pt 15pt;
	border-top-right-radius: 15pt 15pt;
	width:100%;
	
}

.caption {
	border-bottom-left-radius: 15pt 15pt;
	border-bottom-right-radius: 5pt 5pt;
    margin:10 0 0 0px;
    padding:10px;  
    background:#392413;
    color:white;
    overflow:hidden;
}

#wrapper .floatbox:first-child .caption {
	background:#5F3C1F;
}

.signiture {
	float:right;
	vertical-align:top;
	text-align:right;
	font-size: 10pt;
	color:#E6C9B2;
	font-weight:bold;
}

.comments {
	margin-top: 20px;
	min-width:100px;
	

}

}


@media all and (orientation: landscape) {
	
* {
    margin:0;
    padding:0;
}
body {
    background:#141414;
    position:relative;
    overflow:auto;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    position:fixed;
    height:60px;
    width:100%;
    line-height:60px;
    font-size:1.75em;
    text-align:center; 
    color:#FFF;
}

h2 {
	text-align: center;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	position:fixed;
}

#wrapper {
    margin:50px 20px 0px;
    margin-right:-999em;
    position:relative;
    height:auto;
    float:left;

}
.floatbox {
    float:left; 
    margin:0 20px 0 0;
}
.floatbox img, .daily_challenge img {
	border-top-left-radius: 15pt 15pt;
	border-top-right-radius: 15pt 15pt;
	height:70%;
	
}

.caption {
	border-bottom-left-radius: 15pt 15pt;
	border-bottom-right-radius: 5pt 5pt;
    margin:10 0 0 0px;
    padding:10px;  
    background:#392413;
    color:white;
    overflow:hidden;
}

#wrapper .floatbox:first-child .caption {
	background:#5F3C1F;
}

.signiture {
	float:right;
	vertical-align:top;
	text-align:right;
	font-size: 10pt;
	color:#E6C9B2;
	font-weight:bold;
}

.daily_challenge {
	float:left;
	
}

.comments {
	float:left;
	padding-left: 15px;
	min-width:100px;
	

}